<div id="<%= dom_id applicant %>">
  <p>
    <strong>First name:</strong>
    <%= applicant.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= applicant.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= applicant.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= applicant.phone %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= applicant.stage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= applicant.status %>
  </p>

  <p>
    <strong>Job:</strong>
    <%= applicant.job_id %>
  </p>

</div>
